<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Acme&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Roboto:300,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bitter:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="shortcut icon" href="../static/images/fav-gataca.png" type="image/x-icon">
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css"
        rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/stylesheets/about.css">
    <link rel="stylesheet" href="../static/stylesheets/style.css">
    <title>easyDownloads-AboutUs</title>
</head>

<body>

    <div class="about-image">
        <div class="navigation-bar">
            <ul class="mt-3 mr-3">
                <li>
                    <a href="/" style="font-family: cursive;">Home</a>
                </li>
            </ul>
        </div>
        <div class="about-text">
            <h1>ABOUT </h1>
        </div>
    </div>

    <p class="easydwn mx-3 mt-5"> <span class="title">About easyDownloads</span>
        <hr class="underline mx-3">
    <div class="main-content mx-4">easyDownloads is a free website where you can get your YouTube, Instagram, Facebook
        videos (.mp4 files). It's easy to use and the whole process needs just 3 steps</div>
    <div class="card-deck mx-5 my-1">

        <div class="card step-item p-3 my-1">
            <div class="card-body">
                <center><span class="numberr-one">1</span>
                    <div class="number-text mt-3">Choose the application for link</div>
                </center>
            </div>
        </div>
        <div class="card step-item p-3 my-1">
            <div class="card-body">
                <center><span class="numberr-two">2</span>
                    <div class="number-text mt-3">Paste your copied URL</div>
                </center>

            </div>
        </div>
        <div class="card step-item p-3 my-1">
            <div class="card-body">
                <center><span class="numberr-three">3</span>
                    <div class="number-text mt-3">Click <strong>"Download"</strong> to get it</div>
                </center>
            </div>
        </div>
    </div>
    </p>
    <p class="gataca mx-3 mt-5"> <span class="title">Our Company</span>
        <hr class="underline mx-3">
    <div class="main-content mx-4"> GATACA is a group of tech enthusiasts which started as a mess of friends.
        Considering similarity of our ideas and the enthusiasm, we decided to have GATACA where we will deal with our
        developing skills and will try to create our own stuff in order
        to contribute whole developer's community. The group had varied skillset like front-end developers, back-end
        developers, cross-platform developers, Android developers which ultimately colours a beautiful picture. We are
        so glad to have something
        like GATACA and happily contributing to it!</div>
    </p>
    <div class="cards">
        <center>
            <div class="card profiles" style="width:10rem;"><img src="../static/images/Gaurav-2.jpg" alt=""
                    class="profile-img" />
                <div class="content">
                    <p><strong>Gaurav Rasal</strong></p>
                </div>
                <div class="text">
                    <div class="name">
                        <div class="d-name">Gaurav<br>Rasal</div>
                        <p class="profile-list-ln ml-3"><a href="https://www.linkedin.com/in/gaurav-rasal-24820b191"
                                class="" target="_blank"><i class="fa fa-linkedin"></i></a></p>
                        <p class="profile-list-git"><a href="https://github.com/GauravRasal07" class=""
                                target="_blank"><i class="fa fa-github"></i></a> </p>
                        <p class="profile-list-twit"><a href="https://twitter.com/rasal_gaurav" target="_blank"><i
                                    class="fa fa-twitter"></i></a></p>
                    </div>
                </div>
            </div>

            <div class="card profiles " style="width:10rem;"><img src="../static/images/ashish.jpeg" alt=" "
                    class="profile-img " />
                <div class="content">
                    <p><strong>Ashish Pawar</strong></p>
                </div>
                <div class="text ">
                    <div class="name ">
                        <div class="d-name">Ashish<br>Pawar</div>
                        <p class="profile-list-ln ml-3"><a href="" target="_blank"><i class="fa fa-linkedin"></i></a>
                        </p>
                        <p class="profile-list-git"><a href="" target="_blank"><i class="fa fa-github"></i></a> </p>
                        <p class="profile-list-twit"><a href="" target="_blank"><i class="fa fa-twitter"></i></a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="card profiles" style="width:10rem;"> <img src="../static/images/tejas.jpg" alt=""
                    class="profile-img " />
                <div class="content">
                    <p><strong>Tejas Borde</strong></p>
                </div>
                <div class="text">
                    <div class="name">
                        <div class="d-name ">Tejas<br>Borde</div>
                        <p class="profile-list-ln ml-3"><a href="https://www.linkedin.com/in/tejas-borde-17577a191/"
                                target="_blank"><i class="fa fa-linkedin"></i></a></p>
                        <p class="profile-list-git"><a href="https://github.com/tejasborde" target="_blank"><i
                                    class="fa fa-github"></i></a> </p>
                        <p class="profile-list-twit"><a href="https://twitter.com/bordetejas26" target="_blank"><i
                                    class="fa fa-twitter"></i></a></p>
                    </div>
                </div>
            </div>

            <div class="card profiles" style="width:10rem;"><img src="../static/images/ajay1.jpeg" alt=""
                    class="profile-img" />
                <div class="content">
                    <p><strong>Ajay Pawar</strong></p>
                </div>
                <div class="text">
                    <div class="name">
                        <div class="d-name">Ajay<br>Pawar</div>
                        <p class="profile-list-ln ml-3"><a href="" target="_blank"><i class="fa fa-linkedin"></i></a>
                        </p>
                        <p class="profile-list-git"><a href="" target="_blank"><i class="fa fa-github"></i></a> </p>
                        <p class="profile-list-twit"><a href="" target="_blank"><i class="fa fa-twitter"></i></a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="card profiles" style="width:10rem;"><img src="../static/images/chinmay.jpeg" alt=""
                    class="profile-img" />
                <div class="content">
                    <p><strong>Chinmay Mukhedker</strong></p>
                </div>
                <div class="text">
                    <div class="name">
                        <div class="d-name" style="font-size: 26px;">Chinmay Mukhedker</div>
                        <p class="profile-list-ln ml-3"><a href="" target="_blank"><i class="fa fa-linkedin"></i></a>
                        </p>
                        <p class="profile-list-git"><a href="" target="_blank"><i class="fa fa-github"></i></a> </p>
                        <p class="profile-list-twit"><a href="" target="_blank"><i class="fa fa-twitter"></i></a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="card profiles" style="width:10rem;">
                <img src="../static/images/adesh.jpg" alt="" class="profile-img" />
                <div class="content">
                    <p><strong>Adesh Pawar</strong></p>
                </div>
                <div class=" text ">
                    <div class="name ">
                        <div class="d-name">Adesh<br>Pawar</div>
                        <p class="profile-list-ln ml-3"><a href="https://www.linkedin.com/in/adesh-pawar-b563891b4/"
                                target="_blank"><i class="fa fa-linkedin"></i></a></p>
                        <p class="profile-list-git"><a href="https://github.com/pawar-adesh" target="_blank"><i
                                    class="fa fa-github"></i></a> </p>
                        <p class="profile-list-twit"><a href="https://twitter.com/adeshpawar_" target="_blank"><i
                                    class="fa fa-twitter"></i></a></p>
                    </div>
                </div>
            </div>

        </center>
    </div>
    <footer>
        <div class="footer-copyright text-center py-1 text-white" style="font-style: italic;">© easyDownloads 2021
            Copyright</div>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>