<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="../static/images/fav-gataca.png" type="image/x-icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Acme&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/stylesheets/style.css">
    <link rel="stylesheet" type="text/css" href="../static/stylesheets/trial.css">
    <title>easyDownloads-Insta</title>
</head>

<body>
    <a href="main.html">
        <span class="ml-3 home">Home</span>
    </a>
    <h2 class="mt-3 header-h2">Download Page</h2>
    <div>
        <hr class="mx-5">
    </div>
    <div class="container f-p">
        <div class="navigation">
            <div class="nav-item">
                <a class="nav-link" href="yt.html">YouTube Downloader</a>
            </div>
            <div class="nav-item">
                <a class="nav-link" href="insta.html" style="background-color: green;">Instagram Downloader</a>
            </div>
            <div class="nav-item">
                <a class="nav-link" href="fb.html">Facebook Downloader</a>
            </div>
        </div>

        <div class="download">
            <img class="img1 mid-image" src="../static/images/Instagram.svg" alt="Youtube">
            <form action="/download-youtube-video" method="post">
                <div class="input-group you">
                    <input class="content form-control" type="text" name="link" placeholder="Paste your Instagram Post link here">
                </div><small>Enter Username for Profile Picture</small>
                <div class="input-group drop">
                    <select name="filetype" class="content" style="padding-left: 15px;border-radius: 10px;padding-right: 15px;height: 50px;" id="type" required>
                        <option value="">Content Type</option>
                        <option value="PROFILE-PICTURE">PROFILE PICTURE</option>
                        <option value="POST">POST</option>
                    </select>
                </div>
                <div class="but">
                    <center><button class="btn btn-block button p-2" type="submit">Download</button></center>
                </div>
            </form>
        </div>

        <div class="steps-title">
            <h4>
                <strong>Get your video in just 3 steps!</strong>
            </h4>
        </div>
        <div class="card-deck mx-5">
            <div class="card step-item p-3 my-1">
                <div class="card-body">
                    <center>
                        <span class="numberr-one">1</span>
                        <div class="number-text mt-3">Choose the application for link</div>
                    </center>
                </div>
            </div>
            <div class="card step-item p-3 my-1">
                <div class="card-body">
                    <center>
                        <span class="numberr-two">2</span>
                        <div class="number-text mt-3">Paste your copied URL</div>
                    </center>
                </div>
            </div>
            <div class="card step-item p-3 my-1">
                <div class="card-body">
                    <center>
                        <span class="numberr-three">3</span>
                        <div class="number-text mt-3">Click <strong>"Download"</strong> to get it</div>
                    </center>
                </div>
            </div>
        </div>
    </div>

    <footer class="page-footer font-small unique-color-dark pt-2 mt-5" style="margin-top: 0 !important;">
        <div class="container text-md-left mt-2">
            <div class="row mt-3">
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <h6 class="text-uppercase font-weight-bold">how it works</h6>
                    <hr class="teal accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                    <p>Just paste the link of your video and click on Download button to get it.</p>
                </div>
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

                    <h6 class="text-uppercase font-weight-bold">Services</h6>
                    <hr class="accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                    <p><a href="/youtube" class="tbn">YouTube</a></p>
                    <p><a href="/instagram" class="tbn">Instagram</a></p>
                    <p><a href="/facebook" class="tbn">Facebook</a></p>
                </div>
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                    <h6 class="text-uppercase font-weight-bold">why
                        <sapn class="text-lowercase">easydownloads</sapn>
                    </h6>
                    <hr class="accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                    <p>It's FREE</p>
                    <p>Easy to Use</p>
                    <p>Fast</p>
                    <p>100% Safe</p>
                </div>
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <h6 class="text-uppercase font-weight-bold">Contact</h6>
                    <hr class="teal accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                    <p><i class="fa fa-home mr-2"></i>Pune 411044</p>
                    <p><i class="fa fa-envelope-open mr-2"></i>easydownloads@gmail.com</p>
                </div>
            </div>
        </div>
        <div class="footer-copyright text-center py-1 text-white">© easyDownloads 2021 Copyright</div>
    </footer>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>