<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../static/images/fav-gataca.png" type="image/x-icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Acme&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/stylesheets/style.css">
    <title>easyDownloads.com</title>
</head>

<body>
    <div class="top">
        <nav class="navbar navbar-expand-md navigation">
            <a class="navbar-brand"><img src="../static/images/logo-final.png"
                    style="height: 50px;width: 50px;; padding:0px;"></a>
            <button class="navbar-toggler navbar-light " type="button" data-toggle="collapse"
                data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item navigation-links">
                        <a class="nav-link text-white nav-items" href="/aboutus">About</a>
                    </li>
                    <li class="nav-item navigation-links">
                        <a class="nav-link text-white nav-items" href="/contactus">Contact Us</a>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="practice_text heading">
            <h2 class="main-title">Video Downloader</h2>
            <h4 class="sub-title">Save any social media video for free!</h4>
        </div>
        <br>
        <center>
            <div id="demo" class="carousel slide text-center mt-3 p-5 slider" data-interval="3100" data-ride="carousel"
                style="margin-top: 20px;">
                <ul class="carousel-indicators">
                    <li data-target="#demo" data-slide-to="0" class="active"></li>
                    <li data-target="#demo" data-slide-to="1"></li>
                    <li data-target="#demo" data-slide-to="2"></li>
                    <li data-target="#demo" data-slide-to="3"></li>
                </ul>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <lord-icon src="https://cdn.lordicon.com//dxjqoygy.json" trigger="loop"
                            colors="primary:#081c15,secondary:#081c15" style="width:128px;height:128px">
                        </lord-icon>
                        <span class="slider-item">Features</span>
                        <p class="slider-item-text">Some broad features of our services.</p>
                    </div>
                    <div class="carousel-item ">
                        <lord-icon src="https://cdn.lordicon.com//kbtmbyzy.json" trigger="loop"
                            colors="primary:#040000,secondary:#DDCECD " stroke="55" style="width:128px;height:128px">
                        </lord-icon><span class="slider-item">Fast</span>
                        <p class="slider-item-text">Get video in just a click.</p>
                    </div>
                    <div class="carousel-item">

                        <lord-icon src="https://cdn.lordicon.com//cmrzxpzz.json" trigger="loop"
                            colors="primary:#ffffff,secondary:#133337" style="width:128px;height:128px">
                        </lord-icon><span class="slider-item"></span>
                        <p class="slider-item-text">Totally FREE to use.</p>
                    </div>
                    <div class="carousel-item"><span class="slider-item">SAFE</span>
                        <lord-icon src="https://cdn.lordicon.com//jvihlqtw.json" trigger="loop"
                            colors="primary:#119826,secondary:#08a88a" style="width:128px;height:128px">
                        </lord-icon>
                        <p class="slider-item-text">Yes, It's 100% SAFE and has no privacy issues.</p>
                    </div>

                </div>
                <a class="carousel-control-prev" href="#demo" data-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                </a>
                <a class="carousel-control-next" href="#demo" data-slide="next">
                    <span class="carousel-control-next-icon"></span>
                </a>
            </div>
        </center>
    </div>



    <br>
    <div class="steps-title" style="font-size: larger;">
        <h4>
            Get your video in just 3 steps!
        </h4>
    </div>
    <div class="card-deck mx-5 my-1">

        <div class="card step-item p-3 my-1">
            <div class="card-body">
                <center><span class="numberr-one">1</span>
                    <div class="number-text mt-3">Choose the application for link</div>
                </center>
            </div>
        </div>
        <div class="card step-item p-3 my-1">
            <div class="card-body">
                <center><span class="numberr-two">2</span>
                    <div class="number-text mt-3">Paste your copied URL</div>
                </center>

            </div>
        </div>
        <div class="card step-item p-3 my-1">
            <div class="card-body">
                <center><span class="numberr-three">3</span>
                    <div class="number-text mt-3">Click <strong>"Download"</strong> to get it</div>
                </center>
            </div>
        </div>
    </div>

    <section id="mid-section">
        <div class="card-deck mx-5 my-3">

            <div class="card my-3 cards">
                <img class="youtube-img" src="../static/images/yt.png" alt="YouTube" class="card-img-top"
                    style="width: auto; height: 200px;">
                <div class="card-body">Download YouTube videos using link of video without any cost. It's Fast and Easy.
                    <p>Click on download below to get your video!</p>
                </div>
                <a href="/youtube" class="link1">
                    <center><button class="visit-button p-2" id="youtube-button">Download Now</button></center>
                </a>
            </div>

            <div class="card my-3 cards">
                <img class="insta-img" src="../static/images/Instagram.png" alt="Instagram" class="card-img-top"
                    style="width: auto; height: 200px;">
                <div class="card-body">Instagram videos are worth to be downloaded but can't do so? Here you can do it.
                    <p>Click on download below to get your video!</p>
                </div>
                <a href="/instagram" class="link1">
                    <center><button class="visit-button instagram-button p-2">Download Now</button></center>
                </a>
            </div>

            <div class="card my-3 cards">
                <img class="fb-img" src="../static/images/fb.png" alt="Facebook" class="card-img-top"
                    style="width: auto; height: 200px;">
                <div class="card-body">Why to have saved videos under your Facebook profile? Download it instead!!
                    <p>Click on download below to get your video!</p>
                </div>
                <a href="/facebook" class="link1">
                    <center><button class="visit-button facebook-button p-2">Download Now</button></center>
                </a>
            </div>
        </div>
    </section>

    <footer class="page-footer font-small unique-color-dark pt-2 mt-5" style="margin-top: 0 !important;">
        <div class="container text-md-left mt-2">
            <div class="row mt-3">
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <h6 class="text-uppercase font-weight-bold">how it works</h6>
                    <hr class="teal accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                    <p>Just paste the link of your video and click on Download button to get it.</p>
                </div>
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

                    <h6 class="text-uppercase font-weight-bold">Services</h6>
                    <hr class="accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                    <p><a href="/youtube" class="tbn">YouTube</a></p>
                    <p><a href="/instagram" class="tbn">Instagram</a></p>
                    <p><a href="/facebook" class="tbn">Facebook</a></p>
                </div>
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                    <h6 class="text-uppercase font-weight-bold">why
                        <sapn class="text-lowercase">easydownloads</sapn>
                    </h6>
                    <hr class="accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                    <p>It's FREE</p>
                    <p>Easy to Use</p>
                    <p>Fast</p>
                    <p>100% Safe</p>
                </div>

                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <h6 class="text-uppercase font-weight-bold">Contact</h6>
                    <hr class="teal accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                    <p><i class="fa fa-home mr-2"></i>Pune 411044</p>
                    <p><i class="fa fa-envelope-open mr-2"></i>easydownloads2021@gmail.com</p>
                </div>

            </div>

        </div>
        <div class="footer-copyright text-center py-1 text-white">© easyDownloads 2021 Copyright</div>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.lordicon.com//libs/frhvbuzj/lord-icon-2.0.2.js"></script>
</body>

</html>